<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.mboard.mapper.BoardMapper">

   <resultMap type="boardDto" id="boardDtoMap">
      <id property="board_seq"    column="BOARD_SEQ" />
      <id property="name"       column="NAME" />
      <id property="title"       column="TITLE" />
      <id property="content"       column="CONTENT" />
      <id property="regdate"       column="REGDATE" />
      
      <collection property="miBoardDto" resultMap="miBoardDtoMap"></collection>
   </resultMap>
   
   <resultMap type="miBoardDto" id="miBoardDtoMap">
      <id property="movie_seq"       column="MOVIE_SEQ" />
      <result property="movie_nm"    column="MOVIE_NM"/>
      <result property="opn"          column="OPN"/>
      <result property="nlty_nm"       column="NLTY_NM"/>
      <result property="genre_nm"    column="GENRE_NM"/>
      <result property="grad_nm"       column="GRAD_NM"/>
   </resultMap>

	<select id="getAllList" resultType="boardDto">
		SELECT BOARD_SEQ, GENRE_NM, MOVIE_NM, TITLE, CONTENT,NAME, REGDATE
		FROM RVBOARD
		WHERE DELFLAG='N' AND SPOFLAG='N'
		ORDER BY REGDATE DESC
	</select>
	
	<select id="getBoard" parameterType="Integer" resultMap="boardDtoMap">
		SELECT R.BOARD_SEQ, M.GENRE_NM, M.MOVIE_NM, M.NLTY_NM, M.GRAD_NM
			   , M.OPN, R.TITLE, R.CONTENT, R.NAME, R.REGDATE, R.SPOFLAG
		FROM RVBOARD R JOIN MOVIEINFO3 M
		ON R.BOARD_SEQ = M.MOVIE_SEQ
	</select>
	
	<select id="movieAllList" parameterType="Map" resultType="miBoardDto">
		SELECT MOVIE_SEQ, CONCAT(GENRE_NM ,'_',MOVIE_NM) movie_nm
		FROM MOVIEINFO3
		WHERE MOVIE_NM LIKE CONCAT('%', #{movie_nm}, '%')
	</select> 
	_로 스플릿으로 잘라서 장르랑 제목 > 배열로 분리됨 >> 0번째는 genre_nm(dto에 저장), 1번째()
	<!-- 	useGeneratedKeys="true" keyProperty="board_seq"
        : 증가된 board_seq값을 BoardDto에 전달 : insertBoard(boardDto) -->
	<insert id="insertBoard" parameterType="boardDto"
		useGeneratedKeys="true" keyProperty="board_seq">
		INSERT INTO RVBOARD
		VALUES(NULL,#{board_seq},#{genre_nm}, #{movie_nm}, #{title}, #{content}, #{name}, sysdate(), 'N', #{spoflag})
	</insert>
	
<!-- 	<update id="updateBoard" parameterType="boardDto"> -->
<!-- 		UPDATE TESTBOARD -->
<!-- 		SET TITLE=#{title}, CONTENT=#{content} -->
<!-- 		WHERE BOARD_SEQ=#{board_seq} -->
<!-- 	</update> -->
	
<!-- 	<update id="mulDel" parameterType="Map"> -->
<!-- 		UPDATE TESTBOARD SET DELFLAG = 'Y' WHERE BOARD_SEQ IN -->
<!-- 		<foreach collection="seqs" item="board_seq" open="(" close=")" -->
<!-- 		         separator=","> -->
<!-- 			#{board_seq} -->
<!-- 		</foreach> -->
<!-- 	</update> -->
	

</mapper>



