<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.mboard.mapper.MemberMapper">
	
	<insert id="addUser" parameterType="memberDto">
		INSERT INTO MRMEMBER
		VALUES(NULL,#{id},#{password},#{name},#{email},#{role})
	</insert>
	
	<select id="idChk" parameterType="String" resultType="String">
		SELECT ID FROM MRMEMBER WHERE ID=#{id}
	</select>
	
	<select id="nameChk" parameterType="String" resultType="String">
		SELECT NAME FROM MRMEMBER WHERE name=#{name}
	</select>
	
	<resultMap type="fileDto" id="fileDtoMap">
		<id property="file_seq" 			column="FILE_SEQ" />
		<result property="memberid" 		column="MEMBERID"/>
		<result property="origin_filename" 	column="ORIGIN_FILENAME"/>
		<result property="stored_filename" 	column="STORED_FILENAME"/>
	</resultMap>
	
	<select id="loginUser" parameterType="String" resultType="memberDto">
		SELECT MEMBERID, ID, PASSWORD, NAME, EMAIL, ROLE
		FROM MRMEMBER
		WHERE ID=#{id}
	</select>

</mapper>




