<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.mboard.mapper.MemberMapper">
	
	<insert id="addUser" parameterType="memberDto"
		useGeneratedKeys="true" keyProperty="memberid">
		INSERT INTO MRMEMBER
		VALUES(NULL,#{id},#{password},#{name},#{email},#{role})
	</insert>
	
	<select id="idChk" parameterType="String" resultType="String">
		SELECT ID FROM MRMEMBER WHERE ID=#{id}
	</select>
	
	<select id="nameChk" parameterType="String" resultType="String">
		SELECT NAME FROM MRMEMBER WHERE name=#{name}
	</select>
	
	<resultMap type="fileDto" id="fileDtoMap">
		<id property="file_seq" 			column="FILE_SEQ" />
		<result property="origin_filename" 	column="ORIGIN_FILENAME"/>
		<result property="stored_filename" 	column="STORED_FILENAME"/>
	</resultMap>
	
	<select id="loginUser" parameterType="String" resultType="memberDto">
		SELECT MEMBERID, ID, PASSWORD, NAME, EMAIL, ROLE
		FROM MRMEMBER
		WHERE ID=#{id}
	</select>
	
	<!-- 	4.나의 정보 조회 -->
	<select id="getUserInfo" parameterType="Integer" resultType="memberDto">
	  SELECT MEMBERID,ID, NAME, EMAIL, ROLE
	  FROM MRMEMBER
	  WHERE MEMBERID=#{memberId}
	</select>
	
	<!-- 	5.나의 정보 수정하기 -->
	<update id="updateUser" parameterType="memberDto">
	  UPDATE mrmember
	  SET NAME=#{name}, email=#{email}
	  WHERE ID=#{id}
	</update>
	
	<!-- 	6.회원탈퇴하기 -->
	<update id="delUser" parameterType="memberDto">
	  UPDATE mrmember
	  SET delflag='Y'
	  WHERE ID=#{id}
	</update>

</mapper>




