<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

	#container{
		width: 1000px;
		margin: 0 auto;
	}

</style>
</head>
<body>
<header th:fragment="header" class="header">
   <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
<!--     <a class="navbar-brand" href="/">MAIN</a>-->
   </div>
   <div id="navbar" class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
       <li class="active"><a href="/board/boardList">영화리뷰</a></li>
       <li><a href="#">영화</a></li>
     </ul>
     </br>
       <th:block th:unless="${session.mdto==null}">
		<p style="text-align: right;">
<!--			<img th:if="${fDto != null}" th:src="@{'/upload/' + ${fDto.stored_filename}}" alt="유저 이미지" style="max-width: 15px; height: 15px;"/>-->
		    <th:block th:if="${userImage != null}">
        		<img th:src="@{'/upload/' + ${userImage.stored_filename}}" alt="User Image" style="max-width: 25px; height: 25px;"/>
    		</th:block>
<!--    		<th:block>-->
<!--            	<a th:href="@{/user/userDetail(memberId=${mdto.memberId})}" th:text="${session.mdto.name + '님'}" style="color: pink"></a>&nbsp;&nbsp;-->
			<a href="/user/userDetail" method="post" th:text="${session.mdto.name + '님'}" style="color: pink"></a>&nbsp;&nbsp;
			<a href="#" style="color: pink">게시글 관리</a>&nbsp;&nbsp;
			<a href="/user/logout" style="color: pink">로그아웃</a>
<!--            </th:block>-->
		</p>
	   </th:block>
   </div>
   </div>
   </nav>
</header>
<div style="height: 50px;"></div>
</body>
</html>