<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">



// $.ajax() ---> list 가져와서 for --> txt="<option value='aaa'/><option value='aaa'/><option value='aaa'/>"
// $("datalist").html(txt)
$(function(){
	//on("eventType",function(){})
	$("#autoComplete").on("keyup",function(){
		var movie_nm=$(this).val();
		//console.log(id);
		$.ajax({
			url:"/board/movieList",
			method:"get",
			dataType:"json",
			async:false,
			data:{"movie_nm":movie_nm},
			success:function(val){
// 				for (var i = 0; i < movie_nm.length; i++) {
// 					var value = movie_nm[i];
// 				}

// 				alert(val["mlist"][0].movie_nm);
				//jquery 문법
				var mlist=val["mlist"];//mlist객체 가져오기 [movieInforDto,movieInforDto,movieInforDto...]
				var mlistOptions="";
				for(var i=0;i<mlist.length;i++){
					mlistOptions+="<option value='"+mlist[i].movie_nm+"'/>";
				}
				
				$("#movie_options").html(mlistOptions);
			},
			error:function(){
				alert("영화이름 찾기 실패");
			}
		});
	});
});

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>새글 작성하기</h1>
<form action="/board/boardInsert" method="post" enctype="multipart/form-data" th:object="${insertBoardCommand}">
	<input type="hidden" name="id" th:value="${session.mdto.id}" />
	<table class="table">
		<tr>
			<th>작성자[NAME]</th>
			<td th:text="${session.mdto.name}"></td>
		</tr>
		<tr>
			<th>영화제목</th>
			<td>
				<input type="text" name="movie_nm" id="autoComplete" list="movie_options" class="form-control"/>
				<datalist id="movie_options">
				</datalist>
			</td>
		</tr>
		<tr>
			<th>제목</th>
			<td>
				<input type="text" name="title" th:field="*{title}" class="form-control" />
				<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
			</td>
		</tr>
		<tr>
			<th>내용</th>
			<td>
				<textarea rows="10" cols="60" name="content" th:field="*{content}" class="form-control" ></textarea>
				<span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="submit" class="btn">등록</button>
				<button type="button" class="btn" th:onclick="|location.href='@{/board/boardList}'|">목록</button>
			</td>
		</tr>
	</table>
</form>
</div>
</div>
</body>
</html>