<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div id="container">
<h1>HOME</h1>
<!--<button type="button" class="btn" th:onclick="|location.href='@{/board/boardList}'|">영화리뷰</button>-->
<!--<button type="button" class="btn" th:onclick="#">영화</button>-->
</div>
</body>
</html>