<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	function delUserEX(){
		if(confirm("정말로 탈퇴하시겠습니까??")){
			return true;
		}
		return false
	}
</script>
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
    <div id="container">
        <h1>회원정보</h1>
        <input type="hidden" name="memberId" th:value="${dto.memberId}" />
        <table class="table">
            <tr>
                <th>아이디:</th>
                <td th:text="${dto.id}"></td>
            </tr>
            <tr>
                <th>등급:</th>
                <td th:text="${dto.role}"></td>
            </tr>
            <tr>
                <th>닉네임:</th>
                <td th:text="${dto.name}"></td>
            </tr>
            <tr>
                <th>이메일:</th>
                <td th:text="${dto.email}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" class="btn" th:onclick="|location.href='@{/user/updatedInfo}'|">수정</button>	
                	<form action="/user/delUser" method="get" onsubmit="return delUserEX()">
    					<button type="submit" class="btn">탈퇴</button>
					</form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
